.HierarchyList {
    /* Apply padding to child HierarchyLists */
    div .HierarchyList {
        padding: 20px 0 20px 20px;
    }

    > div:nth-child(2n - 1) {
        background-color: lightgrey;
    }

    .HierarchyList-Row, .HierarchyList-Header {
        display: flex;
        transition: background-color linear .2s;
        .cell {
            flex: 1;
            text-align: left;
            border: 1px solid whitesmoke;
            padding: 3px;
            margin: 0;
        }
    }

    section:hover {
        background-color: whitesmoke;
    }

    section.HierarchyList-Header {
        font-weight: bold;
        padding-left: 40px;
    }
}

.HierarchyList-RowExpand {
    width: 40px;
    cursor: pointer;
    user-select: none;
    p {
        transition: transform linear .15s;
        text-align: center;
        margin: 0;
    }
}

.HierarchyList-RowExpand--down p {
    transform: rotate(90deg);
}
