.HierarchyList {
    div {
        .HierarchyList {
            padding: 20px 0 20px 20px;
        }
    }

    div:nth-child(2n - 1) .HierarchyList-Row {
        background-color: lightgrey;
    }

    section {
        display: flex;
        transition: background-color linear .2s;
        div {
            flex: 1;
            text-align: left;
            border: 1px solid whitesmoke;
            padding: 3px;
        }
    }

    section:hover {
        background-color: whitesmoke;
    }

    section.HierarchyList-Header {
        font-weight: bold;
    }
}