.App {
  padding: 20px;
  font-family: 'Inconsolata', monospace;
  .HierarchyList {
    border-top: 1px solid lightgray;
    padding-top: 10px;
  }
}

.App-title {
  font-size: 1.5em;
  font-weight: 100;
}